a {
    border-bottom: dotted;
    text-decoration: none;
    color: navy;
}
header a{
    border-bottom: none;
}
a:hover, .credits a:hover{
    color:rgb(1, 110, 66);
}
a#jysuis{
    color:rgb(1, 110, 66) !important;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    display: flex;
}

div#texte {
    margin-top: -25px;
    padding: 20px;
}

div#reference{
    margin-top: -25px;
    padding: 20px;
}
.boton-round {
    color: navy;
    border-radius: 60px;
    border-color: blueviolet;
    background-color: rgb(169, 233, 255);
    border: solid 1px;
    padding: 7px;
}



footer {
    bottom: 0;
    width: 105%;
    margin: -10px;
    padding-top: 10px; padding-bottom: 50px;
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 0;
}
.credits, .credits a{
    bottom: 0;
    color: gray;
    font-size: small;
}