header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    text-align: center;
    background-color: aqua;
    font-family: 'Times New Roman', Times;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
header nav{
    display: inline-flex;
    
}
header nav a{
    text-align: center;
    text-size-adjust: auto;
    margin-left: -20;
    margin-bottom: 1rem !important ;
}
header a h2{
    color:rgb(1, 110, 66);
}